@charset "UTF-8";
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Publico;
  src: url(../fonts/Publico-Headline.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  background-color: #353244;
  height: 100vh;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 110px 0px 105px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* НАВИГАЦИЯ */
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-item_link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  text-decoration: none;
}

.header-button {
  margin-left: 40px;
}

.header-button button {
  text-align: center;
  width: 240px;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  /* identical to box height, or 267% */
  letter-spacing: -0.01em;
  color: #000000;
  border: none;
  outline: none;
  background: #8AFBB8;
}

/* TRADING BLOCK  */
.trading-block {
  margin-top: 80px;
  text-align: center;
}

.trading-title {
  font-family: Publico Headline;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #FFFFFF;
}

.trading-text {
  width: 825px;
  margin: 40px auto 0px auto;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.trading-button {
  margin-top: 40px;
}

.trading-button button {
  text-align: center;
  width: 240px;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  /* identical to box height, or 267% */
  letter-spacing: -0.01em;
  color: #000000;
  border: none;
  outline: none;
  background: #8AFBB8;
}
